@charset "UTF-8";
/* CSS Document */

#button {
	height:100px;
	width:300px;
	outline:solid;
	margin-left:40%;
	margin-top:300px;
	cursor:pointer;
	text-decoration:none;
	
	box-shadow:  1px 0 0 #831127,   0 1px 0 #831127, 
				2px 1px 0 #831127, 1px 2px 0 #831127,
				3px 2px 0 #831127, 2px 3px 0 #831127,
				4px 3px 0 #831127, 3px 4px 0 #831127,
				4px 4px 2px #000;
}

h1 {
	font-family:"Comic Sans MS", cursive;
	font-size:46px;
	text-align:center;
	padding-top:10px;
	text-decoration:none;
}