@charset "UTF-8";
/* fix reset button and add home button!!!

As well as fixing the main div to stay put throughout changes*/

body {
	background-color:#00000;
	background-position:center top;
}

#main {
	height:700px;
	width:1050px;
	background-color:#219286;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}

#text {
	height:auto;
	width:auto;
}

h1 {
	font:"Comic Sans MS", cursive;
	font-weight:bold;
	color:#FFF;
	font-size:86px;
	letter-spacing:1px;
	text-align:center;
	padding-top:25px;
}

p {
	font:"Comic Sans MS", cursive;
	font-size:36px;
	color:#FFF;
	letter-spacing:1px;
	text-align:center;
	padding-bottom:10px;
}

#container {
	height:300px;
	width:650px;
	margin-left:200px;
	margin-top:35px;
}

#door1 {
	height:300px;
	width:200px;
	margin-left:0px;
}

#door2 {
	height:300px;
	width:200px;
	margin-left:225px;
	margin-top:-300px;
}

#door3 {
	height:300px;
	width:200px;
	margin-left:450px;
	margin-top:-300px;
}

#footer {
	height:90px;
	width:auto;
	margin-top:0px;
}

#left {
	height:60px;
	width:60px;
	padding-top:70px;
}

#right {
	margin-left:975px;
	margin-top:-67px;
}






